@media screen and (max-width: 768px) {
  
  .container{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px !important;
    position: relative;


  }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100vw;
    padding: 30px;
    background: #fff;
    overflow-y: scroll;
  }